.footer {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 23px 60px;
 
  font-size: 14px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-left {
  display: flex;
  align-items: center;
  gap: 14px;
  /* ICON SPACING */
  color: rgb(163, 122, 66);
  font-weight: 500;
}

.footer-left svg {
  font-size: 15px;
  cursor: pointer;
}


.footer-right {
  display: flex;
  gap: 22px;

}

.footer-right a {
  color: rgb(163, 122, 66);
  text-decoration: none;
  font-weight: 500;
}

.footer-right a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    gap: 10px;
  }
}